argbind>=0.3.1
descript-audiotools @ git+https://github.com/descriptinc/lyrebird-audiotools.git@0.7.2
tensorboard
pytest
pytest-cov
pynvml
psutil
pandas
onnx
onnx-simplifier
seaborn
jupyterlab
jupyterlab-link-share
pandas
watchdog
pesq
tabulate
tensorboardX
gradio
einops
encodec